i386
sparc

*.pyc

tools/*.o
tools/*.so

components/*/build
components/apache2-modules/*/build
components/foomatic/*/build
components/libusb/*/build
components/meta-packages/*/build
components/open-fabrics/*/build
components/perl_modules/*/build
components/python/*/build
components/samba/*/build
components/tcl/*/build


components/*/*.tar.bz2
components/*/*.tar.gz
components/*/*.tgz
components/*/*.zip
components/*/*/*.tar.bz2
components/*/*/*.tar.gz
components/*/*/*.tgz
components/*/*/*.zip

components/a2ps/a2ps-*
components/aalib/aalib-*
components/acpidump/pmtools-*
components/ant/apache-ant-*
components/apache2-modules/mod_dtrace/src/.prep
components/apache2-modules/mod_fcgid/mod_fcgid-*
components/apache2-modules/mod_jk/tomcat-connectors-*
components/apache2-modules/mod_perl/mod_perl-*
components/apache2-modules/mod_proxy_html/mod_proxy_html
components/apache2-modules/mod_security2/modsecurity-apache_*
components/apache2/httpd-*
components/apr-util/apr-util-*
components/apr/apr-*
components/areca/areca-*
components/autoconf/autoconf-*
components/autogen/autogen-*
components/automake/automake-*
components/bash/bash-*
components/bcc/dev86-*
components/beanshell/beanshell-*
components/berkeleydb/db-*
components/bind/bind-*
components/binutils/binutils-*
components/bison/bison-*
components/bzip2/bzip2-*
components/cdrtools/cdrtools-*
components/clisp/clisp-*
components/cmake/cmake-*
components/components.mk
components/conflict/conflict-*
components/convmv/convmv-*
components/coreutils/coreutils-*
components/cups/cups-*
components/curl/curl-*
components/cvs/cvs-*
components/depends.mk
components/diffutils/diffutils-*
components/doxygen/doxygen-*
components/ejabberd/ejabberd-*
components/elinks/elinks-*
components/emacs/emacs-*
components/erlang/documentation
components/erlang/otp_src_*
components/fastcgi/fcgi-*
components/fetchmail/fetchmail-*
components/flex/flex-*
components/foomatic/db-engine/foomatic-db-engine-*
components/foomatic/db/foomatic-db-*
components/foomatic/filters/foomatic-filters-*
components/foomatic/fppd/foomatic-filters-ppds-*
components/fping/fping-*
components/gawk/gawk-*
components/gcc3/gcc-*
components/gcc45/gcc-*
components/gd2/gd-*
components/gdb/gdb-*
components/gdbm/gdbm-*
components/gettext/gettext-*
components/ggrep/grep-*
components/ghostscript/ghostscript-*
components/git/git-*
components/gnu-gs-fonts-other/gnu-gs-fonts-other-*
components/gnu-gs-fonts-std/gnu-gs-fonts-std-*
components/gnump/*.pc
components/gnump/gmp-*
components/gnupg/gnupg-*
components/gnuplot/gnuplot-*
components/gnupth/pth-*
components/gocr/gocr-*
components/gperf/gperf-*
components/gpgme/gpgme-*
components/grails/grails-*
components/graphviz/graphviz-*
components/gtar/tar-*
components/guile/guile-*
components/gutenprint/gutenprint-*
components/gzip/gzip-*
components/hal-cups-utils/hal-cups-utils-*
components/hexedit/hexedit
components/hplip/hplip-*
components/httping/httping-*
components/iftop/iftop-*
components/ilmbase/ilmbase-*
components/imagemagick/ImageMagick-*
components/iperf/iperf-*
components/ipmitool/ipmitool-*
components/ircii/ircii-*
components/isc-dhcp/dhcp-*
components/junit/junit4.*
components/lcms/lcms-*
components/less/less-*
components/lftp/lftp-*
components/libassuan/libassuan-*
components/libconfuse/confuse-*
components/libedit/libedit-*
components/libevent/libevent-*
components/libexpat/expat-*
components/libidn/libidn-*
components/libksba/libksba-*
components/libmcrypt/libmcrypt-*
components/libmemcached/libmemcached-*
components/libmng/index.html
components/libmng/jng-*.html
components/libmng/libmng-*
components/libmng/mng-*.html
components/libmng/mng-lc-*.html
components/libmng/mng-vlc-*.html
components/libneon/neon-*
components/libnet/libnet-*
components/libpcap/libpcap-*
components/librsync/librsync-*
components/libsigsegv/libsigsegv-*
components/libsndfile/libsndfile-*
components/libtecla/libtecla
components/libtool/libtool-*
components/libtorrent/libtorrent-*
components/libusb/ugen/src/.prep
components/libusb/wrapper/src/.prep
components/libxml2/libxml2-*
components/libxslt/libxslt-*
components/lighttpd/lighttpd-*
components/links/links-*
components/logilab-astng/logilab-astng-*
components/logilab-common/logilab-common-*
components/lua/lua-*
components/m4/m4-*
components/make/make-*
components/mc/mc-*
components/meld/meld-*
components/memcached-java/java_memcached-release_*
components/memcached/memcached-*
components/mercurial/mercurial-*
components/mpc/mpc-*
components/mpfr/*.pc
components/mpfr/mpfr-*
components/mutt/mutt-*
components/mysql-*
components/ncftp/ncftp-*
components/net-snmp/net-snmp-*
components/nethack/nethack-*
components/nmap/nmap-*
components/ntp/ntp-dev-*
components/open-fabrics/libibverbs/libibverbs-*
components/open-fabrics/libmlx4/libmlx4-*
components/open-fabrics/librdmacm/librdmacm-*
components/open-fabrics/libsdp/libsdp-*
components/openexr/openexr-*
components/openldap/openldap-*
components/openssl/openssl-*
components/openusb/libopenusb-*
components/p7zip/p7zip_*
components/pam_pkcs11/pam_pkcs11-*
components/patch/patch-*
components/pconsole/pconsole-*
components/pcre/pcre-*
components/perl_modules/DBI/DBI-*
components/perl_modules/net-ssleay/Net-SSLeay-*
components/perl_modules/pmtools/pmtools-*
components/perl_modules/xml-parser/XML-Parser-*
components/perl_modules/xml-simple/XML-Simple-*
components/perl512/perl-*
components/php-*
components/pinentry/pinentry-*
components/privoxy/privoxy-*
components/proftpd/proftpd-*
components/psutils/psutils
components/pv/pv-*
components/pwgen/pwgen-*
components/pylint/pylint-*
components/python/cherrypy/CherryPy-*
components/python/coverage/coverage-*
components/python/ldtp/ldtp-*
components/python/m2crypto/M2Crypto-*
components/python/mako/Mako-*
components/python/nose/nose-*
components/python/ply/ply-*
components/python/pybonjour/pybonjour-*
components/python/pycups/pycups-*
components/python/pycurl/pycurl-*
components/python/pylxml/lxml-*
components/python/pyopenssl/pyOpenSSL-*
components/python/python26/Python-*
components/python/python27/Python-*
components/python/setuptools/setuptools-*
components/quagga/quagga-*
components/quilt/quilt-*
components/rdiff-backup/rdiff-backup-*
components/readline/readline-*
components/rsync/rsync-*
components/rtorrent/rtorrent-*
components/ruby/ruby-*
components/ruby/rubygems-*
components/samba/mozldap/mozldap-*
components/samba/samba/libsam-LGPL.tar
components/samba/samba/samba-*
components/samba/samba30/samba-*
components/sane-backends/sane-backends-*
components/sane-frontends/sane-frontends-*
components/sblim/cim-client
components/screen/screen-*
components/sed/sed-*
components/slang/slang-*
components/slib/slib
components/slib/slib-*
components/slrn/slrn-*
components/snort/snort-*
components/sox/sox-*
components/spawn-fcgi/spawn-fcgi-*
components/squid/squid-*
components/stdcxx/configure
components/stdcxx/include
components/stdcxx/install.sh
components/stdcxx/stdcxx-*
components/stdcxx/stdcxx_*.h.sed
components/stdcxx/tests
components/subversion/subversion-*
components/sudo/sudo-*
components/swig/swig-*
components/tcl/expect/expect5.45
components/tcl/tcl/tcl8.5.9
components/tcl/tk/tk8.5.9
components/tcltls/tls1.6
components/tcpdump/tcpdump-*
components/tcsh/tcsh-*
components/texinfo/texinfo-*
components/tidy/tidy-*
components/timezone/zoneinfo.po
components/tomcat/apache-tomcat-*
components/tomcat/ecj-*
components/top/top-*
components/trousers/trousers-*
components/unixodbc/unixODBC-*
components/unrar/unrar
components/unzip/unzip60
components/vim/vim-v*
components/wget/wget-*
components/which/which-*
components/wireshark/wireshark-*
components/wxwidgets/wxGTK-*
components/xorriso/xorriso-*
components/xz/xz-*
components/zip/zip30
components/zlib/zlib-*
components/zsh/license
components/zsh/zsh-*


components-extra/*/build
components-extra/python/*/build
components-extra/gcc46/gcc-4.6.*
components-extra/kvm/joyent-illumos-kvm-*
components-extra/lzo/lzo-*
components-extra/openvpn/openvpn-*
components-extra/pkgbuild/pkgbuild-*
components-extra/python/dulwich/dulwich-*
components-extra/python/hg-git/schacon-hg-git-*
components-extra/qemu-kvm/joyent-illumos-kvm-cmd-*
components-extra/qemu/qemu-*
components-extra/roxterm/roxterm-*
components-extra/tuntap/tuntap
components-extra/tuntap/tuntap.tar.gz



components-java/*/build
components-java/javahelp/javahelp*.zip
components-java/jdk/jdk-*-solaris-*.sh
components-java/javahelp/jh2.0
components-java/jdk/jdk1.6.0_*

components-jds/*/build
components-jds/perl_modules/*/build
components-jds/avant/avant-window-navigator-*
components-jds/brltty/brltty-*
components-jds/docbook-dtds/*.zip
components-jds/docbook-dtds/docbook-dtds
components-jds/docbook-style-dsssl/docbook-dsssl-*
components-jds/docbook-style-xsl/docbook-xsl-*
components-jds/docbook-style-xsl/docbook-xsl-doc-*
components-jds/evince/evince-*
components-jds/gst-plugins-base/gst-plugins-base-*
components-jds/gst-plugins-good/gst-plugins-good-*
components-jds/gstreamer/gstreamer-*
components-jds/libical/libical-*
components-jds/libjpeg/jpeg-6*
components-jds/libjpeg/jpegsrc.v6*.tar.gz
components-jds/libspectre/libspectre-*
components-jds/libunique/libunique-*
components-jds/perl_modules/authen-pam/Authen-PAM-*
components-jds/poppler-data/poppler-data-*
components-jds/poppler/poppler-*
components-jds/popt/popt-*
components-jds/rdesktop/rdesktop-*
components-jds/sgml-common/sgml-common-*

components-l10n/*/build
components-l10n/g11n/aszeszo-g11n-*
components-l10n/idnkit/idnkit-*
components-l10n/xkeyboard-config/xkeyboard-config-*

components-nvidia/*/build
components-nvidia/nvidia/NVIDIA-Solaris-x86-*

components-osol/*/build
components-osol/c++-runtime/c++-runtime
components-osol/c++-runtime/c++-runtime.tar.gz
components-osol/ccsmake/make
components-osol/ccsmake/make.tar.gz
components-osol/cde-runtime/cde-runtime
components-osol/cde-runtime/cde-runtime.tar.gz
components-osol/cpp/cpp
components-osol/cpp/cpp.tar.gz
components-osol/driver-ce/driver-ce
components-osol/driver-ce/driver-ce.tar.gz
components-osol/library-motif/library-motif
components-osol/library-motif/library-motif.tar.gz
components-osol/library-tooltalk/library-tooltalk
components-osol/library-tooltalk/library-tooltalk.tar.gz
components-osol/math/math
components-osol/math/math.tar.gz
components-osol/medialib/medialib
components-osol/medialib/medialib.tar.gz
components-osol/sysidtool/service-management-sysidtool
components-osol/sysidtool/service-management-sysidtool.tar.gz
components-osol/xcu4/xcu4
components-osol/xcu4/xcu4.tar.gz

components-releng/*/build

components-sfw/*/build
components-sfw/antlr2/antlr-2.*
components-sfw/nano/nano-*
components-sfw/ocaml/ocaml-*
components-sfw/procmail/procmail-*

components-sic_team/*/build
components-sic_team/java-commons-logging/commons-logging-*
components-sic_team/java-jss/jss-*.tar.bz2
components-sic_team/java-jss/mozilla
components-sic_team/mozilla-nspr/nspr-*
components-sic_team/mozilla-nss/nss-*

tools/parfait
